<ActionBar title="Cam Test Capture" class="action-bar">
</ActionBar>
<ScrollView>
	<GridLayout rows="500, auto, *">
        <CameraPlus
            height="500"
            debug="true"
            galleryPickerMode="single"
            showFlashIcon="true"
            showToggleIcon="true"
            showCaptureIcon="true"
            showGalleryIcon="true"
            confirmSaveText="CONFIRM!"
            confirmRetakeText="RETAKE!"
            (loaded)="camLoaded($event)"
            (toggleCameraEvent)="toggleCameraEvent($event)"
            (photoCapturedEvent)="photoCapturedEvent($event)"
		    (imagesSelectedEvent)="imagesSelectedEvent($event)">

			<!-- OVERLAY CONTENT -->
			<!-- <GridLayout rows="*, auto, *" columns="*, auto, *">
				<GridLayout colSpan="3" class="bg-overlay"></GridLayout>
				<GridLayout row="1" class="bg-overlay"></GridLayout>
				<GridLayout row="1" col="2" class="bg-overlay"></GridLayout>
				<GridLayout row="2" colSpan="3" class="bg-overlay"></GridLayout>
				<Label row="1" col="1" class="overlay-label" text="📷➕"></Label>
				<Image src="https://d2odgkulk9w7if.cloudfront.net/images/default-source/default-album/nativescript.png" row="1" col="1" stretch="aspectFill"
				    class="overlay" width="20" height="20"></Image>
				<Image src="res://nativescript" row="1" col="1" stretch="aspectFill" class="overlay"></Image>
			</GridLayout> -->

		</CameraPlus>

		<GridLayout row="1" rows="auto, auto" columns="*, auto, *" *ngIf="imageSource">
			<Label columnSpan="3" textWrap="true" text="Captured Image"></Label>
			<Image row="1" col="1" class="preview-image" stretch="none" [src]="imageSource"></Image>
		</GridLayout>

		<GridLayout row="2" rows="auto, auto, auto, auto" columns="*, *">
			<Button text="Record Video" (tap)="recordDemoVideo()" row="0" col="0" class="btn btn-primary"></Button>
			<Button text="Stop Recording" (tap)="stopRecordingDemoVideo()" row="0" col="1" class="btn btn-primary"></Button>
			<Button text="Take Pic" (tap)="takePicFromCam()" row="1" col="0" class="btn btn-primary"></Button>
			<Button text="Toggle Flash" (tap)="toggleFlashOnCam()" row="1" col="1" class="btn btn-primary"></Button>
			<Button text="Toggle Camera" (tap)="toggleTheCamera()" row="2" col="0" class="btn btn-primary"></Button>
			<Button text="Open Library" (tap)="openCamPlusLibrary()" row="2" col="1" class="btn btn-primary"></Button>
		</GridLayout>
	</GridLayout>
</ScrollView>