<GridLayout margin="0" rows="*" columns="*" style="width: 100%; background-color: black;">
    <StackLayout row="0" col="0">
        <CameraPlus
            height="400"
            debug="true"
            galleryPickerMode="single"
            showFlashIcon="true"
            showToggleIcon="true"
            showCaptureIcon="true"
            showGalleryIcon="true"
            confirmSaveText="Save"
            confirmRetakeText="Retake"
            (loaded)="camLoaded($event)"
            (toggleCameraEvent)="toggleCameraEvent($event)"
            (photoCapturedEvent)="photoCapturedEvent($event)"
            (imagesSelectedEvent)="imagesSelectedEvent($event)">
        </CameraPlus>
        <Button text="take picture no drawing" (tap)="takePictureNoDrawing()"></Button>
        <Button text="take picture with drawing" (tap)="takePictureWithDrawing()"></Button>
        <Button text="close" (tap)="close()"></Button>
    </StackLayout>
</GridLayout>