<!--The content below is only a placeholder and can be replaced.-->
<ActionBar [title]="title"></ActionBar>
<ScrollView>
    <StackLayout class="p-20">
        <Image [src]="picturePath" stretch="none" class="img-rounded p-l-15 p-r-15 p-t-15"></Image>
        <Image [src]="thumbPath" stretch="none" class="img-rounded p-l-15 p-r-15 p-t-15"></Image>
        <Button class="btn btn-primary btn-active" id="button" text="Take Picture" (tap)="takePicture()"></Button>
        <Button class="btn btn-primary btn-active" id="button" text="Drawing" (tap)="testDrawing()"></Button>
        <TextField hint="Enter date" 
               [text]='birthDate | date:"MM/dd/yy"' 
               secure="false"
               keyboardType="datetime"
               returnKeyType="done" 
               autocorrect="false"
               maxLength="10"
               class="input input-border"></TextField>

    </StackLayout>


</ScrollView>